<div id="new-person-modal">
  <form method="post" action="#">
    <fieldset>
      <dl>
        <dt><label for="name">Name:</label></dt>
        <dd><input type="text" id="name" name="name" required></dd>
      </dl>
      <dl>
        <dt><label for="color1">Color 1:</label></dt>
        <dd><input type="text" id="color1" name="color1" required></dd>
      </dl>
      <dl>
        <dt><label for="color2">Color 2</label></dt>
        <dd><input type="text" id="color2" name="color2" required></dd>
      </dl>
      <dl>
        <dt><label for="color3">Color 3</label></dt>
        <dd><input type="text" id="color3" name="color3" required></dd>
      </dl>
    </fieldset>
    <fieldset>
      <button class="btn-add" type="submit">Add</button>
      <button class="btn-cancel">Cancel</button>
    </fieldset>
  </form>
</div>